/* Not used as file */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .footer__nav__btn.disable__for__smlrscreens {
        display: none;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .footer ul {
        display: flex;
        flex-wrap: wrap;
    }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .section__actions {
        display: flex;
        flex-direction: row;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .header__middleLinks {
        display: flex;
    }

    .headerBtn.hide {
        display: flex;
    }
}



