.primaryBtn {
  background: #3d69e1;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  border-radius: 2rem;
  padding: 1.2rem 2rem;
  width: 30rem;
  border: transparent;  
}

.primaryBtn:hover {
  background: rgb(59, 59, 250);
}