/* Be sure to use Styled components instead of this css styles here */


.uaHeader {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 5rem;
  color: #fff;
  background: #000;
  width: 100%;
}

.uaHeader__brandImage {
  object-fit: contain;
  width: 10rem;
  flex: 1;
  top: 40%;
  left: 5%;
  position: absolute;
}

.uaHeader__middleLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.uaHeaderBtn {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  color: var(--secondary-color);
  border-radius: 1rem;
  transition: background-color 0.3s cubic-bezier(0.5, 0, 0, 0.75);
  text-decoration: none;
}

.uaHeaderBtn.hide {
  display: none;
}

.uaHeaderBtn.uaMenu {
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .uaHeaderBtn.hide {
    display: flex;
  }
}

.uaHeaderBtn:hover {
  background: #0000000d;
}

.uaInfo {
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  left: 0;
  top: 10%;
  padding: 3rem 9rem;
  border-bottom: 1px solid #000;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .uaInfo {
    display: grid;
    gap: 1rem;
    padding: 3rem 7rem;
  }
}

.userName {
  font-size: 2.2rem;
}

.uaInfoRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}

.uaInfoRight.btn {
  color: #393c41;
  text-decoration: none;
}

.userCar {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.divider {
  padding: 2rem 0;
  border-bottom: 1px solid #d0d1d2;
}

.userCar.Two {
  position: relative;
}
